$theme-green-dark: #89B0AE;
$theme-green-light: #BEE3DB;
$theme-green-hiperlight: rgba(137, 176, 174, 0.13);
$theme-gray-dark:#555B6E;
$theme-gray-light: #C4C4C4;
$theme-gray-light-bg:#F7F6F6;
$theme-orange-light:#FFD6BA;

.body-filter {
  background-color: $theme-gray-light-bg;
}
// Navbar theme
.nav-color-theme {
  background-color: $theme-green-dark;
}

// Buttons theme
.theme-gray-dark-btn,
.theme-gray-light-btn,
.theme-green-light-btn,
.theme-orange-ligth-btn {
  border: $theme-gray-dark;
  font-weight: bold;
  border-radius: 20px;
}

.theme-gray-dark-btn {
  background-color:$theme-gray-dark;
  color: white;
}

.theme-gray-light-btn {
  background-color:$theme-gray-light;
  color: black;
}

.theme-green-light-btn {
  background-color:$theme-green-light;
  color: black;
}

.theme-orange-ligth-btn {
  background-color: $theme-orange-light;
  color:black
}


// Text theme
.text-gray-light {
  color: $theme-gray-light;
}

.text-gray-dark {
  color: $theme-gray-dark;
}

.text-green-dark {
  color: $theme-green-dark;
}

// Forms theme
.custom-form {
  input {
    border: none;
    border-bottom: 2px solid $theme-green-dark;
  }
}

.bg-deco {
  background-color:$theme-green-hiperlight;
  height: 120px;
}
