@import 'base';

.intro-form {
  background-color: $theme-green-light;
  padding: 30px 10px;
  width: 90vw;
  border-radius: 10px;
  margin-top: 25vh;
}

button {
  i {
    font-size:30px;
  }
}

a {
  i {
    font-size:18px;
  }
}

.btn-bg-white {
  background-color: white;
}

.main-view {
  background-image: url('https://images.unsplash.com/photo-1589461440700-e0b11af450f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1002&q=80');
    background-size: cover;
}

