.nav-color-theme {
  background-color: #89B0AE;
}

.container-fluid {
  margin-bottom: 25vh;
}

.intro-form {
  background-color: #BEE3DB;
  padding: 30px 10px;
  width: 90vw;
  border-radius: 10px;
}

.btn-theme-primary {
  background-color: #555B6E;
  border: #555B6E;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

button > i {
  font-size: 30px;
}

a > i {
  font-size: 18px;
}

.btn-bg-white {
  background-color: white;
}
